body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    margin-top: 50px;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    margin-bottom: 20px;
}


.button {
    display: inline-flex;
    align-items: center;
    background: #fff;
    color: #363636;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #4caf50; /* Medium green color for border */
    transition: background 0.3s ease;
}

.button:hover {
    background: #b3dcb5;
    color: #fff;
}

.button-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}


code {
    background-color: #f4f4f4;
    padding: 2px 5px;
    border-radius: 3px;
}